@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

.mask-image-gradient {
  mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
}

body {
  font-family:
    'Raleway',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  background-image: radial-gradient(circle, rgb(42, 29, 51) 2px, transparent 2px);
  background-size: 20px 20px;
  background-color: #0f0e0e;
}
